# ==========================================
# 1. CUSTOM APP DATA (CRITICAL)
# ==========================================
# Prevents uploading massive user files to GitHub
client/SyncFolder/
server/cloud_storage/
client/secrets.txt
server/syncvault-key.pem
server/syncvault-instance-key.pem
server/syncvault-instance-key.pem:Zone.Identifier
server/syncvault-key.pem:Zone.Identifier
*Zone.Identifier*
# ==========================================
# 2. COMPILED JAVA & BUILD FILES
# ==========================================
# Client compiled files
*.class

# Server build folder
server/target/

# Generic Java build artifacts
*.jar
*.war
*.ear
*.log

# ==========================================
# 3. IDE & EDITOR FILES
# ==========================================
# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# ==========================================
# 4. OS & SYSTEM FILES
# ==========================================
# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# ==========================================
# 5. SECRETS & FUTURE FRONTEND
# ==========================================
# For when we eventually add a React/JS frontend or DB passwords
node_modules/
.env
.env.local